body{
  font-family: 'Merriweather', serif;
  background-color: #113946;
  background-image: url("Back-Doodle.png");
  margin: 0%;
  text-align: center;
}

div{
  text-align: center;
  display: block;
}

button {
  --button_radius: 0.75em;
  --button_color: #FFF2D8;
  --button_outline_color: #113946;
  font-size: 106.25%;
  font-weight: bold;
  font-family: 'Merriweather', serif;
  border: none;
  border-radius: var(--button_radius);
  height: 49.5px;
  box-sizing: border-box;
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  width: 318px;
  margin: auto auto 10%;
  position: relative;
}

nav{
  width: 350px;
  margin: 45% auto auto;
  text-align: center;
  padding: 10px 10px;
  border-radius: 19px;
  background-color: #BCA37F;
}



  .img-teacher{
    width: 70px;
    border-radius: 40px;
    border-style: solid;
    border-color: #BCA37F;
    position: relative;
    right: 10%;
  }
  .img-find{
    position: absolute;
    width: 50px;
    padding: 13px;
    border-radius: 72px;
    background-color: #113946;
    position: relative;
  }
  .img-logo{
    width: 70px;
    background-color: #113946;
    border-radius: 40px;
    border-style:solid ;
    border-color: #BCA37F;
    position: relative;
    left: 10%;
  }